.DS_Store
.bundle
/vendor/bundler_gems
/tmp/**/*
/log/*
*.log
/tmp/restart.txt
/config/deploy.rb
/db/*.sql
/public/avatars/*
/public/files/*
/public/headers/*
/public/themes/*
/site_info/*
/cap_files/*
app/views/sites/_detail.html.haml
app/views/sites/edit.html.erb
app/views/sites/manage.html.haml
app/views/sites/old_edit.html.erb

