%h1 Listing applications

%table
  - @products.each do |product|
    %tr
      %th Name
      %th Content
      %th Img path
      %th Path
      %th{:colspan =>"3"}  Manage
  
    %tr
      %td  
        =h product.name
      %td  
        =h product.content
      %td  
        =h product.img_path
      %td  
        =h product.path
      %td  
        = link_to 'Show', products
      %td  
        = link_to 'Edit', edit_products_path(application)
      %td  
        = link_to 'Destroy', products, :confirm => 'Are you sure?', :method => :delete
  
%br

= link_to 'New application', new_application_path
