/*body {  background:url(../images/bg_blue.png) repeat-x top center;}
body#application {  background:url(../images/bg.png) repeat-x top center;}
*/
/*body{ background: url("../images/bg.gif") repeat-x scroll center top #F1F1F1; }*/
body{  font-family: 'Lucida Grande', 'Lucida Sans Unicode',sans-serif;
       font-size:13px;  color:#434343;  margin:0;  -webkit-text-size-adjust: none; }
.header { height: 90px; }
h1, h2, h3, h4, h5, h6 {
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
  font-weight:normal;color:#000;}
h1  {  text-shadow:3px -1px 2px #EEEEEE;
       font-size:28px;  letter-spacing:2px;  margin: 0 0 2px; float:left;  line-height:normal; }
h2 {font-size:24px; margin: 0 0 25px;  }
h2.small { font-size:22px; margin-bottom: 15px; }
h3 {font-size:16px; margin:0 0 10px; font-weight:bold;}
h4 {font-size:14px; margin:0 0 10px; font-weight:bold;}

p {line-height:18px; margin:0 0 15px 0; color:#000; }
p.navigator { color: #0373bc; font-size: 14px; }
a {color: #000; text-decoration:none; font-weight:normal; }
a:hover { color:#3084ca; }
p, table, table tr, table tr td{
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  border-collapse:collapse; font-size:12px;  text-align:left;
}

/*****************************************************************/

#app-title {  margin-bottom: 30px;  margin-top: 25px; }
#about-project tr td { width: 100px;}
#application-header {  background:url("../images/banner_home.png") no-repeat scroll center center transparent;
                       height:366px;  margin-bottom:107px;}
#application-list{  /*background:url("../images/banner.png") no-repeat scroll center center transparent;*/
                    height:150px;}
.content { height: auto !important; }
.footer {  background:url("../images/bg-footer-tile.gif") repeat-x scroll 0 0 #D0D9E0;
           height: 180px;  color:#576672;  margin-top: 20px;  padding-top: 20px;}
#logo {  float:left;  margin-top:10px; }
#manage-list { float: right;}
#manage-site-list { }
#nav {  margin-top: 20px;  float: right;  text-align: right;}
#nav li {  float: left; list-style-type: none;  margin: 0;}
#nav li a { display: block;  padding:0 0 0 11px; }
#nav li a span { padding-left:10px; font-size: 14px; text-shadow:1px 1px 0 #FFFFFF;}
.nav li a:hover, .nav li.current_page_item a {
  background:url("../images/top-nav-left.png") no-repeat scroll left center transparent;
  color:#FFFFFF;  cursor:pointer;  text-decoration:none;}
.nav li a:hover span, .nav li.current_page_item a span{
  background:url("../images/top-nav.png") no-repeat scroll right center transparent;}
.product { height: auto; overflow:hidden; margin-bottom: 20px;}
.product .detail { margin-top: 10px; float:left; height: auto; width: 100%;}
.product .detail h3{  margin-top: 10px; }
.product .frame {  width:272px;  margin:0 auto;  padding: 12px;}
.product .frame .screenshot { width:217px; border: 1px solid #b6b6b6; 
                              text-align:center;  padding: 4px; }
.product p { color:#60686b;  font-size: 12px;}
#site-form { float: right; position: absolute;}
#tabs{ float: left; }
#tabs-1, #tabs-2, #tabs-3{ min-height: 300px; }

/***************************************************/

#list-table tr th{
  background:none repeat scroll 0 0 #F0F0F0;
  color:#003399;
  text-align:center;
  font-weight:normal;
  padding:8px;
}
#list-table{
  background-color:#E7E7E7;
  border-spacing:1px;
  color:#666666;
  width: 100%;
}
#list-table tr td {  
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  padding:5px;  height:25px;
}
#list-table tr td a{
  color: #0B55C4;
}
#list-table tr.odd {
  background:none repeat scroll 0 0 #FFFFFF;
  border-top:1px solid #FFFFFF;
}
#list-table tr.even {
  background:none repeat scroll 0 0 #F9F9F9;
}
#list-table tr:hover td,#list-table tr:hover td a{  /*background:url("gradhover.png") repeat-x scroll 0 0 #D0DAFD;*/
  background-color:#FFFFDD;  color:#333399;}

.t_name{
}
.t_date{
  width: 170px;
}
.t_type{
  width: 80px;
}
.t_stat .tick {
  color: green;
}
.t_icon, .t_stat{
  vertical-align: middle;
  text-align: center;
}
.t_icon{ width: 40px;}
.t_stat{ width: 50px;}
#user{ float: right; text-align: right;}

.beta { margin-left:4px;}
.omega { margin-left:9px;}
.wrapper {  margin:0 auto;  min-height: 100%; }


/***************************************************/

.success  {
  background:none repeat scroll 0 0 #E6EFC2;
  border-color:#C6D880;
  color:#264409;
}
.error {
  background:none repeat scroll 0 0 #FBE3E4;
  border-color:#FBC2C4;
  color:#8A1F11;
}
.notice {
  background:none repeat scroll 0 0 #FFF6BF;
  border-color:#FFD324;
  color:#514721;
}
.error, .notice, .success {
  border:1px solid #DDDDDD;
  margin-bottom:1.6em;
  padding:0.8em;
}

.left{ float: left;}
.right{display:block;
      float:right;
      position:relative;
      width:435px;
}