body {  background:url("../images/bg_dark_glass_app.png") repeat-x top center;}
body{  font-family: 'Lucida Grande', 'Lucida Sans Unicode',sans-serif;
       font-size:12px;  color:#434343;  margin:0;  -webkit-text-size-adjust: none; }
.header { height: 90px; }
h1, h2, h3, h4, h5, h6 {
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
  font-weight:normal;color:#43464C;}
h1  {  font-size:18px; letter-spacing:-1px;  margin: 0 0 2px; float:left;  line-height:normal;
       font-weight: bold; font-style: italic; color: #D3DCF2;}
#title { height:88px; margin-top:42px;}
#title h1 { color:white;
            font-size:36px;
            font-style:italic;
            font-weight:bolder;
            text-shadow:0 -1px 0 #000000;}
h2 {font-size:24px; margin: 0 0 25px;  }
h2.small { font-size:22px; margin-bottom: 15px; }
h3 {font-size:16px; margin:20px 0 20px; font-weight:bold;}
h4 {font-size:14px; margin:0 0 10px; font-weight:bold;}
h5 {margin: 10px 0 5px; color: #9197A6;}

p {line-height:18px; margin:0 0 15px 0; color:#43464C; }
p.navigator { color: #0373bc; font-size: 14px; }
a {color: #000; text-decoration:none; font-weight:normal; }
p, table, table tr, table tr td{
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  border-collapse:collapse; font-size:12px;  text-align:left;
}

/*****************************************************************/

#app-title { }
#about-project tr td { width: 100px;}
#app-header { no-repeat scroll center center transparent; margin-bottom:20px;}
#application-list{  /*background:url("../images/banner.png") no-repeat scroll center center transparent;*/
                    height:150px;}
.content { height: auto !important; }
.footer {  background:url("../images/bg-footer-tile.gif") repeat-x scroll 0 0 #D0D9E0;
           height: 180px;  color:#576672;  margin-top: 20px;  padding-top: 20px;}
#guide { text-align: center; margin: 10px 0 0; }
#guide table { border-collapse: collapse; vertical-align:center;}
#logo {  float:left;  margin-top:20px; }
#manage-list { float: right;}
#manage-site-list { }
#nav {  margin-top: 10px;  float: left;  text-align: right;}
#nav li {  float: left; list-style-type: none;  margin: 0;}
#nav li a span { padding-left:10px; }
#nav li a { display: block; color:#9197A6;}
#nav li a:hover, #nav li.current a { color: #D3DCF2;}
.product { height: auto; margin-bottom: 40px;}
.product .detail { margin-top: 10px; float:left; height: auto; width: 100%;}
.product .button { text-align: center; margin: 5px;}
.product .frame .screenshot {
  -moz-border-radius:5px;
  background:none repeat scroll 0 0 #D3DCF2;
  border:1px solid #CCC;
  padding:5px 0 0;
  text-align:center;
  /*  width:225px;*/
}
.product .frame .screenshot a {
  color:#7690CF;
  font-size:14px;
  font-weight:normal;
  letter-spacing:2px;
  margin:0 0 3px;
}.product .frame .screenshot a:hover {  color:  #43464C;}
.products {
  margin: 20px 0 0;
}
.products .detail p {
  text-align: justify;
  margin: 0 10px 0;
}
.product p { color:#60686b;  font-size: 12px;}
#site-form { float: left; position: absolute;}
#tabs{ float: right; }
#tabs-1, #tabs-2, #tabs-3{ min-height: 300px; }

#user a { color:FFF;}
#user a:hover { color:#D3DCF2;}
/***************************************************/

#list-table tr th{
  background:none repeat scroll 0 0 #F0F0F0;
  color:#003399;
  text-align:center;
  font-weight:normal;
  padding:8px;
}
#list-table{
  background-color:#E7E7E7;
  border-spacing:1px;
  color:#666666;
  width: 100%;
}
#list-table tr td {  
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  padding:5px;  height:45px;
}
#list-table tr td a{
  color: #0B55C4;
}
#list-table tr.odd {
  background:none repeat scroll 0 0 #FFFFFF;
  border-top:1px solid #FFFFFF;
}
#list-table tr.even {
  background:none repeat scroll 0 0 #F9F9F9;
}
#list-table tr:hover td,#list-table tr:hover td a{  /*background:url("gradhover.png") repeat-x scroll 0 0 #D0DAFD;*/
                                                    background-color:#FFFFDD;  color:#333399;}

.t_name{
}
.t_date{
  width: 170px;
}
.t_type{
  width: 80px;
}
.t_stat .tick {
  color: green;
}
.t_icon, .t_stat{
  vertical-align: middle;
  text-align: center;
}
.t_icon{ width: 40px;}
.t_stat{ width: 50px;}


/********** Site management **********/
.thumbnail {
  border:1px solid #000000;
  height:120px;
  margin:5px 0;
  padding:15px;
  position:relative;
  display: block;
}
.thumbnail-image{
  margin: 0 15px 0 0;
  float: left;
  width: 80px;
  border:1px solid black; }

.detail h2{ margin-bottom: 0px; }

.detail{ float: left; }

.status { width: 100%; }

.setting{ float: right; }

#user{ float: right; text-align: right; margin-top: 10px}

.beta { margin-left:4px;}
.omega { margin-left:9px;}
.wrapper {  margin:0 auto;  min-height: 100%; }


/***************************************************/

.success  {
  background:none repeat scroll 0 0 #E6EFC2;
  border-color:#C6D880;
  color:#264409;
}
.error {
  background:none repeat scroll 0 0 #FBE3E4;
  border-color:#FBC2C4;
  color:#8A1F11;
}
.notice {
  background:none repeat scroll 0 0 #FFF6BF;
  border-color:#FFD324;
  color:#514721;
}
.error, .notice, .success {
  border:1px solid #DDDDDD;
  margin-bottom:1.6em;
  padding:0.8em;
}

.notice-text {
  color:#b7bcc7;
  font-size: 12px;
}

.left{ float: left;}
.right{float:right;}

.box {
	background:none repeat scroll 0 0 #F2F2F2;
	border:1px solid #DDDDDD;
	margin-bottom:20px;
	padding:15px;
}
.project-content{
	display:block;
    float:right;
    position:relative;
    width:435px;
}
.project-gallery{
  border: 1px solid;
  float: left;
  width: 450px;
}
.report-status{
	float: left;
	display:block;
	text-align: center;
	width: 250px;
	
}
.tools-list li{
	overflow: hidden;
	float: left;
	list-style: none;
	padding: 5px;
	width: 17%;
	height: 100px;
	background-color: #eee;
	margin-left:15px;
}
.tools-list li:hover{
	background-color: #eeefff;
}

.thumbnail-status {
  background:none repeat scroll 0 0 #E6EFC2;
  border-color:#C6D880;
	text-align: center;
	width
  color:#264409;
}