body { background: #e1e1e1;}	
body{  font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
       font-size:14px;  color:#434343;  margin:0;  -webkit-text-size-adjust: none; }


h1, h2, h3, h4, h5, h6 {
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
  font-weight:normal;color:#43464C;}
h1  {  font-size:32px; 
       line-height:normal;
       font-style: normal;
       color: white;
       margin: 30 0 0;
}

h2 {font-size:24px;}
h2.small { font-size:22px; margin-bottom: 15px; }
h3 {font-size:24px; margin:20px 0 20px; font-weight:bold;}
h4 {font-size:14px; margin:0 0 10px; font-weight:bold;}

h5, h5.search {margin: 10px 0 5px;}
h5 { color: #9197A6; }
h5.search { color: #000; float:right;}

p {line-height:18px; margin:0 0 15px 0; color:#43464C; }
p.navigator { color: #0373bc; font-size: 14px; }
a {color: #000; text-decoration: none; font-weight:normal;}
p, table, table tr, table tr td{
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  border-collapse:collapse; font-size:12px;  text-align:left;
}


#top { height: 40px;}
#title { height: 133px;}



/*****************************************************************/

#about-project tr td { width: 100px;}
#app-header { no-repeat scroll center center transparent; margin-bottom:20px;}
#application-list{  /*background:url("../images/banner.png") no-repeat scroll center center transparent;*/ height:150px;}
.wrapper {
	background:url("../images/bg_dark_glass_app.jpg") repeat-x top center;
}
.header {
	height: 200px;
}

.content {
	display: block;
	margin: 0 auto;
	width: 960px;
	padding: 0 30px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	background: none repeat scroll 0 0 #FFFFFF;
}
.subpage {	
	position: relative;
	margin-top: -30px;
	height: auto;
	min-height:350px;
	float:none !important;
 }
.fixSubpage {
	float:none;
	display:block;
}


.footer {  background:url("../images/bg-footer-tile.gif") repeat-x scroll 0 0 #D0D9E0;
           height: 180px;  color:#576672;  margin-top: 20px;  padding-top: 20px;}
#footer-left{float: left; text-align:left;}
#footer-right{float: right; text-align:right;}
#guide { text-align: center; margin: 10px 0 0; }
#guide table { border-collapse: collapse; vertical-align:center;}
#logo {  float:left;  margin-top:20px; }
#manage-list { float: right;}
#manage-site-list { }
#nav {  margin-top: 10px;  float: left;  text-align: right;}
#nav li {  float: left; list-style-type: none;  margin: 0;}
#nav li a span { padding-left:10px; }
#nav li a { display: block; color:#9197A6;}
#nav li a:hover, #nav li.current a { color: #D3DCF2;}
.product { height: auto; margin-bottom: 40px;}
.product .detail { margin-top: 10px; float:left; height: auto; width: 100%;}
.product .button { text-align: center; margin: 5px;}
.product .frame .screenshot {
  -moz-border-radius:5px;
  background:none repeat scroll 0 0 #D3DCF2;
  border:1px solid #CCC;
  padding:5px 0 0;
  text-align:center;
  /*  width:225px;*/
}
.product .frame .screenshot a {
  color:#7690CF;
  font-size:14px;
  font-weight:normal;
  letter-spacing:2px;
  margin:0 0 3px;
}.product .frame .screenshot a:hover {  color:  #43464C;}
.products .detail p {
  text-align: justify;
  margin: 0 10px 0;
}
.product p { color:#60686b;  font-size: 12px;}

/****************** Create site FORM ****************/

#site-form { float: left; position: absolute;}
#site-tab{ float: right; }
#site-form, #site-tab{
	height:500px;
}
#site-hint {
	margin: -55px 0 15px 350px;
	font-size: 18px;
}
#tabs-1, #tabs-2, #tabs-3{ min-height: 300px;}
#tab-content{
	padding:4px;
	text-align: center;
}

#user a { color:FFF;}
#user a:hover { color:#D3DCF2;}




/****************** table style - 1 ****************/

#list-table{
  background-color:#E7E7E7;
  border-spacing:1px;
  color:#666666;
	width:100%;
}
#list-table tr th{
  background:none repeat scroll 0 0 #F0F0F0;
  color:#003399;
  text-align:center;
  font-weight:normal;
  padding:8px;
}
#list-table tr td {  
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  padding:5px;  height:45px;
}
#list-table tr td a{
  color: #0B55C4;
}
#list-table tr.odd {
  background:none repeat scroll 0 0 #FFFFFF;
  border-top:1px solid #FFFFFF;
}
#list-table tr.even {
  background:none repeat scroll 0 0 #F9F9F9;
}
#list-table tr:hover td,#list-table tr:hover td a{ background-color:#FFFFDD;  color:#333399;}

.t_name{
}
.t_date{
  width: 170px;
}
.t_type{
  width: 80px;
}
.t_stat .tick {
  color: green;
}
.t_icon, .t_stat{
  text-align: center;
}
.t_icon{ width: 40px;}
.t_stat{ width: 50px;}

/****************** table style - 2 ****************/

#toolbar-table{
	margin: 10px 0px;
  border-spacing:1px;
  color:#666666;
	height: 60px;
}
#toolbar-table tr td {  
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  padding:5px;  height:45px;
	text-align: center;
}
#toolbar-table tr td a,#select_view{
	border:1px solid #FBFBFB;
	cursor:pointer;
	display:block;
	white-space:nowrap;
  color: #43464C;
}
#toolbar-table tr td a span,#toolbar-table tr td #select_view span{
	display:block;
	float:none;
	height:32px;
	margin:0 auto;
	width:32px;
	
}
#toolbar-table tr td:hover{ 
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-left:1px solid #EEEEEE;
	border-style:solid;
	border-width:1px;
	text-decoration:none;
}
#toolbar-table tr td:hover a:hover{
	color:#0B55C4;
}

/***************** Thumbnail View *****************/

.thumbnail {
	background-color: #F9F9F9;
  border:1px solid #EEE;
  height:120px;
  margin:10px 0;
  padding:15px;
}
.thumbnail-image{
  margin: 0 15px 0 0;
  float: left;
  width: 80px;
  border:1px solid black; }

.thumbnail-detail{ 
	float: left; 
	overflow:hidden;
	width:77%;
}

.thumbnail-detail h2 { margin-bottom: 0px; }

.thumbnail-setting{ 
	float: right;
	margin: 10px 0 0 0;
}

.thumbnail-status {
	text-align: center;
}
.thumbnail-status-success  {
  background:none repeat scroll 0 0 #E6EFC2;
  border-color:#C6D880;
  color:#264409;
}
.thumbnail-status-error {
  background:none repeat scroll 0 0 #FBE3E4;
  border-color:#FBC2C4;
  color:#8A1F11;
}

/***************************************************/

#user{ float: right; text-align: right; margin-top: 10px}

.beta { margin-left:4px;}
.omega { margin-left:9px;}



/***************************************************/

.success  {
  background:none repeat scroll 0 0 #E6EFC2;
  border-color:#C6D880;
  color:#264409;
}
.error {
  background:none repeat scroll 0 0 #FBE3E4;
  border-color:#FBC2C4;
  color:#8A1F11;
}
.notice {
  background:none repeat scroll 0 0 #FFF6BF;
  border-color:#FFD324;
  color:#514721;
}
.error, .notice, .success {
  border:1px solid #DDDDDD;
  margin-bottom:1.6em;
  padding:0.8em;
}

.note {
  color:#b7bcc7;
  font-size: 12px;
}

.left{float: left;}
.right{float:right;}

.center{ margin-left:auto; margin-right:auto; width:200px;}

.box {
	background:none repeat scroll 0 0 #F9F9F9;
	border:1px solid #EEE;
	margin-bottom:20px;
	padding:15px;
}
.project-content{
	display:block;
    float:right;
    position:relative;
    width:500px;
}
.project-gallery{
  float: left;
  width: 400px;
}

#validate_name{ 
	padding:2px;
	text-align:center;
}

/*************** Site Infomation ***************/
table#report{
}
table#report tbody tr td{
	vertical-align:top;
	overflow:hidden;
}
table#report thead tr th{
	text-align:center;
}

#report-status{
	text-align: center;
	width: 250px;
}
.tools-list{
	margin-left: 23px;
	height:110px;
}
.tools-list tr td{
	width: 150px; height: 100px;
	border:1px solid #EEE;
	padding: 10px;
	overflow: hidden;	
	text-align:center; float:left;
}
.tools-list tr td:hover{
	background-color: #F4F4F4;
}

#new-site-notice{
	width:760px;
}

#site-shoutbox{
	margin:40px 50px;
	padding:5px;
	text-align:center;
}
#deploy{
	text-align:center;
	
}

