.container_12
  .grid_3.left
    #footer-left
      %h4
        Instant Online Application
      %p
        CO-Operative Study Project<br>  
        Khonkaen University
  .grid_3.right
    #footer-right
      %h4
        Contact us
      .right
        EN4501<br>
        Faculty of Engineering<br>
        Khon Kaen University,TH<br>
        40002
  .grid_2.right 
    #footer-right
      %h4
        Administrator
      .right
        =link_to "Chongsawad Saiaram", "mailto:admin@project.com"

      