.container_12
  .grid_12
    #footer-right
      %h4
        Instant Online Application
      %p
        CO-OP Study Projct<br>  
        Khonkan University
        
    #footer-left
      %h4
        Administrator
      %p
        admin@project.com
      