- content_for :header do
  Instant Online Application

.grid_6
  #img{:style=>"text-align:center;"}
    = link_to(image_tag('templates.png', :size=>"420x320"),projects_path)
    
.grid_6
  #accordion
    %h3
      %a
        Free Install Opensource Online Application
    %div
      %p
        Just one click to install, you can have your favourite open source applications up and running

    %h3
      %a
        Zero setting/Configuration
    %div
      %p
        Free Hosting and Domain for 30 days trial 

    %h3
      %a
        Many Applications Now Available
    %div
      %p
        CRM, ERP, Project Managent,Blog, Online Store    

  .clearfix

.grid_6
  = link_to image_tag('trial.png'),projects_path
  = link_to image_tag('learnmore.png')
.clearfix

-#.grid_12
-#  %img{:src => "../images/info_guide.png"}