.grid_3
  %h4
    What is KhunpaOnline.com?
  %p
    KhunpaOnline.com is a software as a service which can automated build web application in less times with zero setting or configuration. 
    %span Learn More ➤
    
.grid_3
  %h4
    KhunpaOnline.com suites for
  %p
    Owner or Manager who wants to manage or plan his business with a great software
    Teacher who wants to create their web application to encourage their school education. 
    %span Learn More ➤
.grid_3
  %h4
    Explore Provided Applications
  %p
    KhunpaOnline.com provided many applications such as RadiantCMS,Spree,Redmine. You can see it on Khunpa Store.
    %span Learn More ➤
  
.grid_3
  %h4
    Submit your own application
  %p
    If you are web programmer and would like to promote your web application. Just sign up as developer. Then,submit your application to us. We'll keep it up on Khunpa Store.
    %span Learn More ➤
    -#'

