%h3
  =h @project.name

.left
  =image_tag("#{@project.img_path}",:height => "128", :width => "128")

.right
  = @project.content
  %hr

  =h @project.detail
  %hr
  =h @project.detail
  =h @project.detail
  =h @project.detail
  %hr