.frame
  =image_tag(project.img_path)
.detail
  %h3
    =h project.name
  %p
    =h project.content
.button
  =link_to image_tag("button_preview.png"), projects_path
  =link_to image_tag("button_install.png"), projects_path
