.frame
  %h5
    =h project.name

  .screenshot
    %a{ :href => new_project_site_path(project) }
      =image_tag project.screenshot.url, :size => "210x230"
      
  .button
    =link_to image_tag("button_preview.png"), project_path(project)
    =link_to image_tag("button_install.png"), new_project_site_path(project)
.clearfix