.frame
  .screenshot
    %a{ :href => new_project_site_path(project) }
      =image_tag project.screenshot.url, :size => "216x237"
      =h project.name

  .detail
  .button
    -# =link_to image_tag("button_preview.png")
    -# =link_to image_tag("button_install.png"), new_project_site_path(project)
.clearfix