- content_for :header do
  Online Store

.grid_12
  %h3.left
    Choose an application
  .right
    = render :partial => "search"
  

- counter = 0
.products
  - if @projects.total_entries == 0
    %p
      Cannot found, Please try agin.
    
  - @projects.each do |project|
    .grid_3
      .product
        = render :partial => "project", :object => project
  
.clearfix

.grid_12.fixSubpage
  .center
    = will_paginate @projects
  %br

