- content_for :header do
  Instant Online Application
- content_for :sub_header do
  Online Store

.grid_12
  %h4
    Choose an application.
.products
  - @projects.each do |project|
    .grid_3
      .product
        = render :partial => "project", :object => project


