%ul
  %li
    %a{:href=>"#account-detail"}
      Account

#account-detail
  %p
    Name :
    =h current_user.username
  %p
    Email :
    =h current_user.email
  %p
    =button_to "Edit profile", edit_user_registration_path, :method => :get