#link-form
  %ul
    %li
      %a{:href=>"#link"}
        Access
    %li
      %a{:href=>"#setup"}
        Manage
  #link

    -if @site.status == "Online"

      = image_tag("deploy_ok.png")

    -else

      = image_tag("waiting.png")

    %h3
      Access your site

    %p
      = link_to "http://" + @site.name.downcase + ".project.com"

  #setup
    = render :partial => "shortcut"