.grid_12#toolbar
  = render :partial => "toolbar"
  
.clearfix

#thumbnail-list1{:style =>"display: normal;"}

  = render :partial => "thumbnail"
  
#thumbnail-list2{:style =>"display: none;"}

  = render :partial => "list_table"