#report-form
  %ul
    %li
      %a{:href=>"#report"}
        Report

  #report
    %h3
      Your site has been created
    %hr
    
    = render :partial => "detail", :object => "site"
    %hr

    = render :partial => "projects/detail", :object => "project"
    %hr