#report-form
  %ul
    %li
      %a{:href=>"#report"}
        Report
  #report
    %h3
      = @site.name.to_s().capitalize + ".project.com"
      are deploying. 
    %p
      The deploying process will take about 5-10 minutes. We will inform you immediately after the process done.
   
    %hr
