%table#list-table{:width=>"100%"}
  %tbody
    %tr.odd
      %td{:width => "20%"}
        Site name
        
      %td
        = link_to @site.name.to_s().capitalize + ".project.com", "http://" + @site.name.to_s().capitalize + ".project.com"
        .note
          If you would like to change your domain, Please contact our staff
          
    %tr.even
      %td
        Site description
        
      %td
        =h @site.description.to_s().capitalize
        
    %tr.odd
    
      %td
        Project
        
      %td
        = link_to @site.project.name, project_path(@site.project)
    
    %tr.even
      %td
        Project Version
      %td
        = @site.project.version
        
    %tr.odd
    
      %td
        Project Version
        
      %td
        (Undefined)
        
    %tr.even
    
      %td
        Site administrator
        
      %td
        = link_to @site.name.to_s().capitalize + ".project.com" + "/admin", "http://" + @site.name.to_s().capitalize + ".project.com" + "/admin"
        
        .note
          logging by using username: <strong>admin </strong> and password: <strong>admin</strong>
          
        