%ul
  %li
    %a{:href=>"#tabs-1"}
      Screenshots
  %li
    %a{:href=>"#tabs-2"}
      Details
  %li
    %a{:href=>"#tabs-3"}
      About

#tabs-1
  = render :partial => "shared/gallery"

#tabs-2
  = render :partial => "projects/detail", :local => { :project => @project }


#tabs-3
  %h3
    =h @project.name
  %p
    Resources
  %table#about-project
    %tr
      %td
        Demo
      %td
        = link_to @project.url_demo;
    %tr
      %td
        Official site
      %td
        = link_to @project.url_project;