- content_for :header do
  Database Cleaning

- content_for :leftTitle do
  Accessing Database! 

- content_for :toolbar do
  = render :partial => "actiontoolbar"
  
- content_for :detailProcess do
  %br
  %div
    = image_tag "ajax-loader.gif"
  %br
  %div
    Your site will be disabled for 1 - 2 minutes.
  %div
    = button_to "Back to Site Information.", site_path(@site), :method => "get", :action => "index"

