- content_for :header do
  Deploying Site

- content_for :leftTitle do
  Deploying Process  

- content_for :toolbar do
  = render :partial => "actiontoolbar"

- content_for :detailProcess do
  %br
  %div
    = image_tag "ajax-loader.gif"
  %br
  %div
    This process will take about 5 - 10 minutes.<br>After finished, We will send you an email immediately.
  %div
    = button_to "Back to Site Information.", site_path(@site), :method => "get", :action => "index"
