- content_for :header do
  Deploying Site
  
#toolbar.grid_12
  = render :partial => "actiontoolbar"

.grid_12
  .box#deploy
    = image_tag("waiting_clock.png",:size=>"128x128")
    %div
      Deploying process will take about 5 - 10 minutes.
  #deploy  
    = link_to "Site Management", sites_path
    |
    = link_to "Go to your site", "http://" + @site.name + ".project.com"
  