- content_for :header do
  %h1
    Site Management
.clearfix

.grid_12
  -#grid_example

-#manage-list.grid_12
= render :partial => 'manage'

.grid_12
  = link_to "Go to Online Store", projects_path

.clearfix