- content_for :header do
  Create your Site

.grid_12#toolbar
  %h3
    Form a site
  = render :partial => "newtoolbar"
.clearfix 


.grid_4#site-tab
  = render :partial => "tabs"

.grid_8#form
  = render :partial => "form"
  
.clearfix