- content_for :header do
  Create your Site
#toolbar.grid_12
  = render :partial => "newtoolbar"
.clearfix

#site-tab.grid_4
  = render :partial => "tabs"

#site-form.grid_8
  %ul
    %li
      %a{:href=>"#form"}
        Form
  #form
    = render :partial => "form"
    
.clearfix
