- content_for :header do
  RE-INSTALLING PROCESS…

- content_for :leftTitle do
  RE-INSTALLING PROCESS…

- content_for :toolbar do
  = render :partial => "actiontoolbar"

- content_for :detailProcess do
  %br
  %div
    = image_tag "ajax-loader.gif"
  %br
  %div
    This process will take about 5 - 10 minutes.
    <br>You can check the result on Site Information Page.
  %div
    = button_to "Back to Site Information.", site_path(@site), :method => "get", :action => "index"

