- content_for :header do
  Site Information
.grid_12  
  = render :partial => "edittoolbar"

#report-form.grid_12
  %ul
    %li
      %a{:href=>"#report"}
        Site :
        =@site.name
  #report
    = render :partial => "report"