- content_for :header do
  Uninstall Site

- content_for :leftTitle do
  UNINSTALLING PROCESS…

- content_for :toolbar do
  = render :partial => "actiontoolbar"

- content_for :detailProcess do
  This process will take about 5 - 10 minutes.
